<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="fr" />
		<meta name="author" content="Galdinx" />
		<meta name="description" content="Statistiques du jeu Motus sur IRC" />
		<meta name="distribution" content="3.358" />
		<title>Statistiques du Motus</title>
		<link rel="stylesheet" href="%CSS_FILENAME%" type="text/css" />
		<style type="text/css">
			#bar0 { height:%GRAPHPERCENT0%%; }
			#bar1 { height:%GRAPHPERCENT1%%; }			
			#bar2 { height:%GRAPHPERCENT2%%; }
			#bar3 { height:%GRAPHPERCENT3%%; }
			#bar4 { height:%GRAPHPERCENT4%%; }
			#bar5 { height:%GRAPHPERCENT5%%; }
			#bar6 { height:%GRAPHPERCENT6%%; }			
			#bar7 { height:%GRAPHPERCENT7%%; }
			#bar8 { height:%GRAPHPERCENT8%%; }
			#bar9 { height:%GRAPHPERCENT9%%; }
			#bar10 { height:%GRAPHPERCENT10%%; }
			#bar11 { height:%GRAPHPERCENT11%%; }			
			#bar12 { height:%GRAPHPERCENT12%%; }
			#bar13 { height:%GRAPHPERCENT13%%; }
			#bar14 { height:%GRAPHPERCENT14%%; }
			#bar15 { height:%GRAPHPERCENT15%%; }
			#bar16 { height:%GRAPHPERCENT16%%; }			
			#bar17 { height:%GRAPHPERCENT17%%; }
			#bar18 { height:%GRAPHPERCENT18%%; }
			#bar19 { height:%GRAPHPERCENT19%%; }
			#bar20 { height:%GRAPHPERCENT20%%; }
			#bar21 { height:%GRAPHPERCENT21%%; }			
			#bar22 { height:%GRAPHPERCENT22%%; }
			#bar23 { height:%GRAPHPERCENT23%%; }
			#bar24 { height:%GRAPHPERCENT24%%; }
			#bar25 { height:%GRAPHPERCENT25%%; }
			#bar26 { height:%GRAPHPERCENT26%%; }			
			#bar27 { height:%GRAPHPERCENT27%%; }
			#bar28 { height:%GRAPHPERCENT28%%; }
			#bar29 { height:%GRAPHPERCENT29%%; }
			#bar30 { height:%GRAPHPERCENT30%%; }
			#bar31 { height:%GRAPHPERCENT31%%; }			
			#bar32 { height:%GRAPHPERCENT32%%; }
			#bar33 { height:%GRAPHPERCENT33%%; }
			#bar34 { height:%GRAPHPERCENT34%%; }
			#bar35 { height:%GRAPHPERCENT35%%; }
			#bar36 { height:%GRAPHPERCENT36%%; }			
			#bar37 { height:%GRAPHPERCENT37%%; }
			#bar38 { height:%GRAPHPERCENT38%%; }
			#bar39 { height:%GRAPHPERCENT39%%; }
			#bar40 { height:%GRAPHPERCENT40%%; }
			#bar41 { height:%GRAPHPERCENT41%%; }			
			#bar42 { height:%GRAPHPERCENT42%%; }
			#bar43 { height:%GRAPHPERCENT43%%; }
			#bar44 { height:%GRAPHPERCENT44%%; }
			#bar45 { height:%GRAPHPERCENT45%%; }
			#bar46 { height:%GRAPHPERCENT46%%; }			
			#bar47 { height:%GRAPHPERCENT47%%; }
			#bar48 { height:%GRAPHPERCENT48%%; }
			#bar49 { height:%GRAPHPERCENT49%%; }
			#bar50 { height:%GRAPHPERCENT50%%; }
			#bar51 { height:%GRAPHPERCENT51%%; }	
		</style> 
	</head>
	<body>
		<div id="content">
			<div id="header">
				<div id="ombreh1"></div>
				<h1>STATISTIQUES DU MOTUS</h1>
				<div id="informations">
					<div id="infosalon">
						<div id="listeinfos">
							<span class="li">Serveur : <span class="variablef">%SERVER%</span></span> 
							<span class="li">Salon : <span class="variablef">%CHAN%</span></span>
							<span class="li">Nom du Bot : <span class="variablef">%BOT%</span></span>
						</div>
						<div id="infotime">Dernière mise à jour des statistiques : <span class="variablef">%UPDATE.DATE%</span> à <span class="variablef">%UPDATE.TIME%</span></div>
					</div>
					<div id="infodb">Le jeu est actuellement paramétré pour proposer des mots entre <span class="variablef">%MIN.WORD.LENGTH%</span> et <span class="variablef">%MAX.WORD.LENGTH%</span> lettres, pour un total de <span class="variablef">%TOTAL.WORDS%</span> mots.<br />Les propositions sont validées à l'aide de l'Officiel Du Scrabble v6 (ODS6) qui comporte <span class="variablef">%TOTAL.ODS%</span> mots.</div>
				</div>
			</div>

			<div id="partie1">
				<div id="semainencours">
					<div id="h21">
						<div class="ombreh2"></div>
						<h2>Top10 des scores</h2>
					</div>
					<h3>La dernière remise à zéro a eu lieu le <span class="variablef">%LAST.SCORES.RESET.DATE%</span> à <span class="variablef">%LAST.SCORES.RESET.TIME%</span>.</h3>
					<div id="ombresec"></div>
					<div id="scoresencours">
						<div id="listescores">
							<div class="divm"><div class="nick"><span class="enum">1-</span> <span class="variable">%NICK1%</span></div><div class="score"><span class="variable">%SCORE1%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">2-</span> <span class="variable">%NICK2%</span></div><div class="score"><span class="variable">%SCORE2%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">3-</span> <span class="variable">%NICK3%</span></div><div class="score"><span class="variable">%SCORE3%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">4-</span> <span class="variable">%NICK4%</span></div><div class="score"><span class="variable">%SCORE4%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">5-</span> <span class="variable">%NICK5%</span></div><div class="score"><span class="variable">%SCORE5%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">6-</span> <span class="variable">%NICK6%</span></div><div class="score"><span class="variable">%SCORE6%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">7-</span> <span class="variable">%NICK7%</span></div><div class="score"><span class="variable">%SCORE7%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">8-</span> <span class="variable">%NICK8%</span></div><div class="score"><span class="variable">%SCORE8%</span> pts</div></div>
							<div class="divm"><div class="nick"><span class="enum">9-</span> <span class="variable">%NICK9%</span></div><div class="score"><span class="variable">%SCORE9%</span> pts</div></div>
							<div class="divo"><div class="nicko"><span class="enumi">10-</span> <span class="variable">%NICK10%</span></div><div class="score"><span class="variable">%SCORE10%</span> pts</div></div>
						</div>
					</div>
				</div>
				<div id="recordujeu">
					<div id="h22">
						<div class="ombreh2"></div>
						<h2>Statistiques</h2>
					</div>
					<div id="ombrerec"></div>
					<div id="records">
						<div id="listerecords">
							<div class="divp">&bull; Date de mise en service du Motus : <span class="variable">%REFERENCE.TIME.DATE%</span> à <span class="variable">%REFERENCE.TIME.TIME%</span></div>
							<div class="divp">&bull; Nombre total de rounds joués : <span class="variable">%TOTAL.ROUNDS%</span></div>
							<div class="divp">&bull; Champion de la semaine : <span class="variable">%WEEK.CHAMP.NAME%</span> - <span class="variable">%WEEK.CHAMP.SCORE%</span> pts</div>
							<div class="divp">&bull; Champion de la semaine dernière : <span class="variable">%LAST.WEEK.CHAMP.NAME%</span> - <span class="variable">%LAST.WEEK.CHAMP.SCORE%</span> pts</div>
							<div class="divp">&bull; Top 3 des meilleurs champions de tous les temps :</div>
							<div class="divn"><div class="nick"><span class="enum">1-</span> <span class="variable">%ALL.TIME.TOP3.1.NAME%</span></div><div class="score"><span class="variable">%ALL.TIME.TOP3.1.SCORE%</span> pts</div></div>
							<div class="divn"><div class="nick"><span class="enum">2-</span> <span class="variable">%ALL.TIME.TOP3.2.NAME%</span></div><div class="score"><span class="variable">%ALL.TIME.TOP3.2.SCORE%</span> pts</div></div>
							<div class="divn"><div class="nick"><span class="enum">3-</span> <span class="variable">%ALL.TIME.TOP3.3.NAME%</span></div><div class="score"><span class="variable">%ALL.TIME.TOP3.3.SCORE%</span> pts</div></div>
							<div class="divp">&bull; Joueur détenant le plus de titres de champion : <span class="variable">%MOST.CHAMP.NAME%</span> - <span class="variable">%MOST.CHAMP.SCORE%</span> victoires.</div>
							<div class="divp">&bull; Joueur ayant remporté le plus de rounds : <span class="variable">%BEST.FINDER.NAME%</span> - <span class="variable">%BEST.FINDER.SCORE%</span> mots trouvés.</div>
							<div class="divp">&bull; Joueur le plus rapide : <span class="variable">%FASTEST.PLAY.NAME%</span> - <span class="variable">%FASTEST.PLAY.SCORE%</span> secondes</div>
						</div>
					</div>
				</div>
			</div>

 			<div id="stats">
				<div id="h23">
					<div class="ombreh2"></div>
					<h2>Activité du motus</h2>
				</div>
				<div id="ombred"></div>
				<div id="diag">
					<div id="barres">
						<div class="bar"><div id="bar0" class="bari" title="%GRAPHVALUE0%"></div></div>
						<div class="bar"><div id="bar1" class="bari" title="%GRAPHVALUE1%"></div></div>
						<div class="bar"><div id="bar2" class="bari" title="%GRAPHVALUE2%"></div></div>
						<div class="bar"><div id="bar3" class="bari" title="%GRAPHVALUE3%"></div></div>
						<div class="bar"><div id="bar4" class="bari" title="%GRAPHVALUE4%"></div></div>
						<div class="bar"><div id="bar5" class="bari" title="%GRAPHVALUE5%"></div></div>
						<div class="bar"><div id="bar6" class="bari" title="%GRAPHVALUE6%"></div></div>
						<div class="bar"><div id="bar7" class="bari" title="%GRAPHVALUE7%"></div></div>
						<div class="bar"><div id="bar8" class="bari" title="%GRAPHVALUE8%"></div></div>
						<div class="bar"><div id="bar9" class="bari" title="%GRAPHVALUE9%"></div></div>
						<div class="bar"><div id="bar10" class="bari" title="%GRAPHVALUE10%"></div></div>
						<div class="bar"><div id="bar11" class="bari" title="%GRAPHVALUE11%"></div></div>
						<div class="bar"><div id="bar12" class="bari" title="%GRAPHVALUE12%"></div></div>
						<div class="bar"><div id="bar13" class="bari" title="%GRAPHVALUE13%"></div></div>
						<div class="bar"><div id="bar14" class="bari" title="%GRAPHVALUE14%"></div></div>
						<div class="bar"><div id="bar15" class="bari" title="%GRAPHVALUE15%"></div></div>
						<div class="bar"><div id="bar16" class="bari" title="%GRAPHVALUE16%"></div></div>
						<div class="bar"><div id="bar17" class="bari" title="%GRAPHVALUE17%"></div></div>
						<div class="bar"><div id="bar18" class="bari" title="%GRAPHVALUE18%"></div></div>
						<div class="bar"><div id="bar19" class="bari" title="%GRAPHVALUE19%"></div></div>
						<div class="bar"><div id="bar20" class="bari" title="%GRAPHVALUE20%"></div></div>
						<div class="bar"><div id="bar21" class="bari" title="%GRAPHVALUE21%"></div></div>
						<div class="bar"><div id="bar22" class="bari" title="%GRAPHVALUE22%"></div></div>
						<div class="bar"><div id="bar23" class="bari" title="%GRAPHVALUE23%"></div></div>
						<div class="bar"><div id="bar24" class="bari" title="%GRAPHVALUE24%"></div></div>
						<div class="bar"><div id="bar25" class="bari" title="%GRAPHVALUE25%"></div></div>
						<div class="bar"><div id="bar26" class="bari" title="%GRAPHVALUE26%"></div></div>
						<div class="bar"><div id="bar27" class="bari" title="%GRAPHVALUE27%"></div></div>
						<div class="bar"><div id="bar28" class="bari" title="%GRAPHVALUE28%"></div></div>
						<div class="bar"><div id="bar29" class="bari" title="%GRAPHVALUE29%"></div></div>
						<div class="bar"><div id="bar30" class="bari" title="%GRAPHVALUE30%"></div></div>
						<div class="bar"><div id="bar31" class="bari" title="%GRAPHVALUE31%"></div></div>
						<div class="bar"><div id="bar32" class="bari" title="%GRAPHVALUE32%"></div></div>
						<div class="bar"><div id="bar33" class="bari" title="%GRAPHVALUE33%"></div></div>
						<div class="bar"><div id="bar34" class="bari" title="%GRAPHVALUE34%"></div></div>
						<div class="bar"><div id="bar35" class="bari" title="%GRAPHVALUE35%"></div></div>
						<div class="bar"><div id="bar36" class="bari" title="%GRAPHVALUE36%"></div></div>
						<div class="bar"><div id="bar37" class="bari" title="%GRAPHVALUE37%"></div></div>
						<div class="bar"><div id="bar38" class="bari" title="%GRAPHVALUE38%"></div></div>
						<div class="bar"><div id="bar39" class="bari" title="%GRAPHVALUE39%"></div></div>
						<div class="bar"><div id="bar40" class="bari" title="%GRAPHVALUE40%"></div></div>
						<div class="bar"><div id="bar41" class="bari" title="%GRAPHVALUE41%"></div></div>
						<div class="bar"><div id="bar42" class="bari" title="%GRAPHVALUE42%"></div></div>
						<div class="bar"><div id="bar43" class="bari" title="%GRAPHVALUE43%"></div></div>
						<div class="bar"><div id="bar44" class="bari" title="%GRAPHVALUE44%"></div></div>
						<div class="bar"><div id="bar45" class="bari" title="%GRAPHVALUE45%"></div></div>
						<div class="bar"><div id="bar46" class="bari" title="%GRAPHVALUE46%"></div></div>
						<div class="bar"><div id="bar47" class="bari" title="%GRAPHVALUE47%"></div></div>
						<div class="bar"><div id="bar48" class="bari" title="%GRAPHVALUE48%"></div></div>
						<div class="bar"><div id="bar49" class="bari" title="%GRAPHVALUE49%"></div></div>
						<div class="bar"><div id="bar50" class="bari" title="%GRAPHVALUE50%"></div></div>
						<div class="bar"><div id="bar51" class="bari" title="%GRAPHVALUE51%"></div></div>
					</div>
					<div id="semaines">
						<p class="sem" title="%GRAPHPERIOD0%">0</p>
						<p class="sem2" title="%GRAPHPERIOD1%">1</p>
						<p class="sem" title="%GRAPHPERIOD2%">2</p>
						<p class="sem2" title="%GRAPHPERIOD3%">3</p>
						<p class="sem" title="%GRAPHPERIOD4%">4</p>
						<p class="sem2" title="%GRAPHPERIOD5%">5</p>
						<p class="sem" title="%GRAPHPERIOD6%">6</p>
						<p class="sem2" title="%GRAPHPERIOD7%">7</p>
						<p class="sem" title="%GRAPHPERIOD8%">8</p>
						<p class="sem2" title="%GRAPHPERIOD9%">9</p>
						<p class="sem" title="%GRAPHPERIOD10%">10</p>
						<p class="sem2" title="%GRAPHPERIOD11%">11</p>
						<p class="sem" title="%GRAPHPERIOD12%">12</p>
						<p class="sem2" title="%GRAPHPERIOD13%">13</p>
						<p class="sem" title="%GRAPHPERIOD14%">14</p>
						<p class="sem2" title="%GRAPHPERIOD15%">15</p>
						<p class="sem" title="%GRAPHPERIOD16%">16</p>
						<p class="sem2" title="%GRAPHPERIOD17%">17</p>
						<p class="sem" title="%GRAPHPERIOD18%">18</p>
						<p class="sem2" title="%GRAPHPERIOD19%">19</p>
						<p class="sem" title="%GRAPHPERIOD20%">20</p>
						<p class="sem2" title="%GRAPHPERIOD21%">21</p>
						<p class="sem" title="%GRAPHPERIOD22%">22</p>
						<p class="sem2" title="%GRAPHPERIOD23%">23</p>
						<p class="sem" title="%GRAPHPERIOD24%">24</p>
						<p class="sem2" title="%GRAPHPERIOD25%">25</p>
						<p class="sem" title="%GRAPHPERIOD26%">26</p>
						<p class="sem2" title="%GRAPHPERIOD27%">27</p>
						<p class="sem" title="%GRAPHPERIOD28%">28</p>
						<p class="sem2" title="%GRAPHPERIOD29%">29</p>
						<p class="sem" title="%GRAPHPERIOD30%">30</p>
						<p class="sem2" title="%GRAPHPERIOD31%">31</p>
						<p class="sem" title="%GRAPHPERIOD32%">32</p>
						<p class="sem2" title="%GRAPHPERIOD33%">33</p>
						<p class="sem" title="%GRAPHPERIOD34%">34</p>
						<p class="sem2" title="%GRAPHPERIOD35%">35</p>
						<p class="sem" title="%GRAPHPERIOD36%">36</p>
						<p class="sem2" title="%GRAPHPERIOD37%">37</p>
						<p class="sem" title="%GRAPHPERIOD38%">38</p>
						<p class="sem2" title="%GRAPHPERIOD39%">39</p>
						<p class="sem" title="%GRAPHPERIOD40%">40</p>
						<p class="sem2" title="%GRAPHPERIOD41%">41</p>
						<p class="sem" title="%GRAPHPERIOD42%">42</p>
						<p class="sem2" title="%GRAPHPERIOD43%">43</p>
						<p class="sem" title="%GRAPHPERIOD44%">44</p>
						<p class="sem2" title="%GRAPHPERIOD45%">45</p>
						<p class="sem" title="%GRAPHPERIOD46%">46</p>
						<p class="sem2" title="%GRAPHPERIOD47%">47</p>
						<p class="sem" title="%GRAPHPERIOD48%">48</p>
						<p class="sem2" title="%GRAPHPERIOD49%">49</p>
						<p class="sem" title="%GRAPHPERIOD50%">50</p>
						<p class="sem2" title="%GRAPHPERIOD51%">51</p>
						<div id="legende"><p id="legtxt">Semaine en cours</p></div>
					</div>
				</div>
			</div>   

			<div id="archives">
				<div class="ombreh2 ombreh4"></div>
				<h2 class="h4">Archives des scores</h2>
				<div id="arch">
					<div id="ombrearch">
						<div id="archivage">
							<p>%SCORES.ARCHIVE%</p>
							
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div id="lif1">%FOOTER1%</div>
				<div id="lif2">%FOOTER2%</div>
				<div id="lif3">Motus v%VERSION% (©2005-2020 Menz Agitat)</div>
			</div>
		</div> 
	</body>
</html>
